#include "configs/Base.xcconfig"
ONLY_ACTIVE_ARCH = YES
PRODUCT_BUNDLE_IDENTIFIER = TomosukeOkada.Pokedex.Adhoc
ENABLE_BITCODE = NO
ENABLE_TESTABILITY = YES
GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEPLOY_FUTURE
DISPLAY_NAME = future
MTL_ENABLE_DEBUG_INFO = INCLUDE_SOURCE
